language: ruby
rvm:
  - "3.2.9"
  - "3.3.10"
  - "3.4.8"
  - "4.0.0"

gemfile:
  - gemfiles/http4.gemfile
  - gemfiles/http5.gemfile
  - gemfiles/rack2.gemfile
  - gemfiles/rack3.gemfile

# uncomment this line if your project needs to run something other than `rake`:
script: bundle exec rspec spec
# workaround for https://github.com/travis-ci/travis-ci/issues/5239:
before_install:
  - gem install bundler -v 2.4.22
